
.img-preview-container {
  width: 100%; 
  max-width: 600px;  
  max-height: 400px;
  margin: 0 auto;  
  overflow: hidden;  
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-preview-container img {
  object-fit: contain; 
  width: 100%;
  height: 100%;
  display: block; 
}